{% extends 'admin/base.html.twig' %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ block('title') }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('admin_login_check') }}" method="post" role="form">
                            {% if error %}
                                <div class="login-error">
                                    <p class="label label-danger">{{ error.message }}</p>
                                </div>
                            {% endif %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="账号" type="text" id="username" name="_username" value="{{ username }}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" type="password" id="password" name="_password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="_remember_me" name="_remember_me">
                                        5天之内不用再次登录
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="_failure_path" value="{{ failurePath }}">
                                    <input type="submit" value="登录" class="btn btn-lg btn-success btn-block">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}
